$blue:#0077b5;
$black:#000;
$gray:#8f8e8e;
$white:#ffffff;
$green:#00a651;
$fweight:400;
$red:red;


$fsize:15px;
$ffamily:'Be Vietnam',
sans-serif;

//variables for responsive breakpoints

$mobile-width:320px; //default mobile
$mobilelandscape-width:576px; //mobile land scape small
$tablet-width:768px; // medium for tablet
$laptop-width:992px; //large device for laptop
$desktop-width:1200px; //extra large device for desktop