

.content {
    width: 95%;
    margin: 0 auto 50px;
  }
  
  .content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }
  
  .content__title--m-sm {
    margin-bottom: 10px;
  }
  
  .multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  
  .multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
  }
  @media (min-width: 500px) {
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
  }
  .multisteps-form__progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
  }
  .multisteps-form__progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: currentColor;
    z-index: 1;
  }
  .multisteps-form__progress-btn:first-child:after {
    display: none;
  }
  .multisteps-form__progress-btn.js-active {
    color: #007bff;
  }
  .multisteps-form__progress-btn.js-active:before {
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
  }
  
  .multisteps-form__form {
    position: relative;
  }
  
  .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
  }
  .multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
  }
  .multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
  }
  .multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
  }
  .multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  .multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .form-check {
        margin:5px 0;
  }

  .multisteps-form__panel .bluebtn{
      padding:2px 15px 5px 15px;
      border-radius:20px;
  }
  


  /**custom styles on 07-10-2020**/
  .signupBody{
    background:#222;
  }
 
  .containerSign{
    width:96%;
    margin:auto;
    background:#fff;
    height:100vh;
  }
  .NewSignupRight{  
    height:100%;
  }
  .registrationForm{
    padding:50px;
    height:100%;
  }
  .registrationForm form{
    padding-top:25px;
  }
  .signleftimg{
    height:100vh;
    width:100%;
    object-fit: cover;
  }

  .newSubmitButton{
  background: #0077b5;
  padding: 10px 25px;
  color: #ffffff;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;  
  border-radius:25px;
}

.newSubmitButton:hover{
  background:#fff;
  border:1px solid #0077b5;
  color:#0077b5;
}

.liveSession{
  background:#000;
  height:600px;  
  display: flex;  
  justify-content: center;  
  align-items: center;
  color:#fff;
  padding:25px;
  flex-direction:column;
}
.liveSession #sessionTimer span{
  font-size:12px;
  text-transform: uppercase;
  display:inline-block;
  text-align:center;
  padding:0 10px;
  letter-spacing: 2px;
  position:relative;
}

.countdown {
  display: flex;
  transform-style: preserve3d;
  perspective: 500px;
  width: 35em;
  margin: 50px auto;
}

@media (min-width:320px) and (max-width:540px){
  .countdown{
    width:100%;
  }
}
.countdown.remove {
  animation: hide-countdown 1s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
  overflow: hidden;
}

.number, .separator {
  display: block;
  color: #fff;  
  font-size: 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}

.separator {
  margin: 0;
  width: 2rem;
}

.new, .old, .current {
  color: #fff;
  position: absolute; 
  font-size:25px;
}

.old {
  
  display:none;

}

.countdown section {
  position: relative;
}

#js-days:after, #js-hours:after, #js-minutes:after, #js-seconds:after {
  content: "DAYS";
  position: relative;
  text-align: center;
  left: -12px;
  right: 0;
  bottom: -32px;
  font-size: 12px;
}
#js-hours:after {
  content: "HOURS";
}
#js-minutes:after {
  content: "MINUTES";
}
#js-seconds:after {
  content: "SECONDS";
}
@keyframes hide-countdown {
  to {
    height: 0;
    overflow: hidden;
  }
}
@keyframes show-new {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
@keyframes hide-old {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
  }
}




.cust-accord h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.cust-accord h1 span {
  display: block;
  font-size: .5em;
}

.cust-accord a {
  color: #607d8b;
  text-decoration: none;
}

.cust-accord a:hover,
.cust-accord a:focus {
  color: #0077b5;
  border-bottom: none;
}

.cust-accord h3 {
  font-weight: 500;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cust-accord h3 {
    margin-bottom: 0;
  }
}

.cust-accord .intro {
  font-size: 1.25em;
}

.cust-accord .js .panel-title {
  margin: 0;
}

.cust-accord .panel-title a {
  color: #292929;
  display: block;
  padding: 15px 0;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
  font-size: 17px;
  border-bottom: 1px solid #f6f8fd;
}

.cust-accord .panel-title a .icon {
  color: #9e9e9e;
  position: absolute;
  right: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}

.cust-accord .panel-title a:hover,
.cust-accord .panel-title a:focus {
  color: #37474f;
}

.cust-accord .panel-title a:hover .icon,
.cust-accord .panel-title a:focus .icon {
  color: #000;
}

.cust-accord .panel-title a.active {
  color: #37474f;
}

.cust-accord .panel-title a.active .icon {
  color: #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cust-accord .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.cust-accord .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.cust-accord [id^="panel-"] {
  padding-bottom: 2em;
}

.videos-list li {
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid #eee;
}
.videos-list li a{ 
  padding:15px;
  font-size:13px;
  width:90%;
 
}

.videos-list li a .icomoon{
  color:red;
}

.syllabus_rt .icomoon{
  background:none;
  color:red;
  font-size:16px;
}


.videos-list li span.videTime{  
  padding:2px;
  font-size:11px;
  width:10%;
  text-align:right;
  align-self:center;
}

.buttonNewFull{
  padding: 10px 15px;
  font-weight: 600;
  position: relative;
  font-size: 16px;
  background:#0077b5;
  border:none;
  color:#fff;
  width:100%;
  border-radius:5px;
}

.buttonNewFull .icomoon{
  position:absolute;
  top:15px;
  right:10px;
}

.buttonNewFull:hover{
  background:#00659a;
}
  
  