@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/**
font-family: 'Montserrat', sans-serif;
**/
a {
  text-decoration: none;
}

body {
  font-size: 15px;
  font-family: "Be Vietnam", sans-serif;
  color: #000;
  line-height: 23px;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
}
body .modal-backdrop.show {
  opacity: 0.8;
}
body .fthin, body .enrollnow p, .enrollnow body p, body .sign .leftcol h1, .sign .leftcol body h1, body .subpage .page-header h1, .subpage .page-header body h1, body .apstore article h3, .apstore article body h3 {
  font-weight: 100;
}
body .flight, body .titlerow h3, .titlerow body h3 {
  font-weight: 300;
}
body .fmed, body .qst .options, .qst body .options, body header .navbar .nav-item .nav-link, header .navbar .nav-item body .nav-link, body .whitebtn {
  font-weight: 500;
}
body .fsbold, body .titlerow h3 span, .titlerow h3 body span, body .fgreen {
  font-weight: 600;
}
body .fbold, body .campus-connect .partnerwithus .highlet-col h2, .campus-connect .partnerwithus .highlet-col body h2, body .topicsBanner h2, .topicsBanner body h2, body .call-mobile a, .call-mobile body a, body .solution .nav .nav-item small, .solution .nav .nav-item body small, body .package-col .heading-div article h2, .package-col .heading-div article body h2, body .qanda-page .text-series-row .testseries-col article .list-seperator li a span, .qanda-page .text-series-row .testseries-col article .list-seperator li a body span, body .subpage .breadcrumb .active a, .subpage .breadcrumb .active body a, body .our-trackrecord .leftTrackRecordColumn article h2, .our-trackrecord .leftTrackRecordColumn article body h2, body tfoot tr td, tfoot tr body td, body .homecarousel .course-form input[type=submit], .homecarousel .course-form body input[type=submit], body .orangebtn {
  font-weight: 700;
}
body .small {
  font-size: 13px;
}
body .lightblue {
  color: #e8f7ff;
}
body .fblue, body .qanda-page .text-series-row .testseries-col article .list-seperator li a span, .qanda-page .text-series-row .testseries-col article .list-seperator li a body span {
  color: #0077b5 !important;
}
body .fwhite {
  color: #ffffff;
}
body .fgray {
  color: #8f8e8e;
}
body .bggray {
  background: #f5f4f4;
}
body .bgblue {
  background: #0077b5;
  color: #ffffff;
}
body a {
  color: #000;
}
body a:hover {
  text-decoration: none;
}
body ul,
body li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body .span-highlate, body .solution .quest span, .solution .quest body span {
  width: 30px;
  height: 30px;
  background: #0077b5;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 27px;
}
body h6 {
  line-height: 150%;
}
body .span-whitehighlate, body .solution .nav .nav-item span, .solution .nav .nav-item body span {
  width: 30px;
  height: 30px;
  background: #ffffff;
  color: #000;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  line-height: 27px;
  border: 1px solid #8f8e8e;
  margin-right: 10px;
}
body .bluebtn {
  background: #0077b5;
  padding: 10px 15px 14px 15px;
  color: #ffffff;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
  border-radius: 5px;
  display: block;
  line-height: 100%;
}
body .bluebtn:hover {
  background: #ffffff;
  color: #0077b5;
  border: 1px solid #0077b5;
}
body .orangebtn {
  background: #c28b2c;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  border-radius: 40px;
  min-width: 180px;
  display: inline-block;
  font-size: 19px;
  height: 50px;
}
body .orangebtn:hover {
  background: #ffffff;
  color: #c28b2c;
  border: 1px solid #c28b2c;
  text-decoration: none;
}
body .whitebtn {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 10px 7px;
  margin: 0 5px;
  color: #000;
  font-size: 15px;
  border: 1px solid #eee;
  background: none;
  font-weight: normal;
}
body .whitebtn .value {
  background: #0077b5;
  margin: 0 3px;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 13px;
}
body .whitebtn .icomoon {
  color: #8f8e8e;
  font-size: 18px;
  margin: 2px 5px;
  float: left;
}
body .whitebtn:hover {
  background: #0077b5;
  color: #ffffff !important;
}
body .whitebtn:hover .icomoon {
  color: #ffffff;
}
body .whitebtn:hover .value {
  background: #ffffff;
  color: #0077b5;
}
body .fgreen {
  color: #00a651;
}
body .list-seperator li a {
  padding: 0;
  color: #8f8e8e !important;
  font-size: 15px;
}
body .list-seperator li a:after {
  content: "|";
  padding: 0 10px;
}
@media (min-width: 320px) and (max-width: 575px) {
  body .list-seperator li a:after {
    display: none;
  }
}
body .list-seperator li:last-child a:after {
  content: "";
  padding: 0;
}

.blink-text {
  animation: blinkingtext 0.8s infinite;
  color: #fff;
  padding: 5px;
}

@keyframes blinkingtext {
  0% {
    background: #e9a834;
    color: #fff;
  }
  40% {
    background: #cc2027;
    color: #fff;
  }
  50% {
    background: #e9a834;
    color: #fff;
  }
  80% {
    background: #cc2027;
    color: #fff;
  }
  100% {
    background: #e9a834;
    color: #fff;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .batchtxt {
    display: block;
    margin: 10px 0;
  }
}

.table thead {
  background: #0077b5;
}
.table thead th {
  color: #ffffff;
}
.table tbody tr:nth-child(odd) {
  background: #f7fcff;
}

.fixed-theme .top-header {
  margin-top: -43px;
}
.fixed-theme .navbar-brand img {
  width: 200px !important;
}
.fixed-theme .dropdown-menu {
  top: 34px !important;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar-toggler {
    border-color: #0077b5 !important;
    color: #0077b5 !important;
  }
}
header .navbar-toggler:focus {
  border: none;
  color: #ffffff !important;
  background: #0077b5;
  outline: none;
}
header .top-header {
  background: #0077b5;
  padding: 5px 0;
  color: #ffffff;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
header .top-header .dropdown-menu {
  padding: 0;
}
header .top-header .dropdown-menu .dropdown-item {
  padding: 7px 10px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
header .top-header .dropdown-menu .dropdown-item:hover {
  background: #0077b5;
  color: #ffffff;
}
header .top-header .ltnav {
  font-size: 14px;
}
header .top-header .ltnav a {
  color: #ffffff !important;
}
header .top-header .ltnav a .icomoon {
  font-size: 14px;
}
header .top-header .ltnav .nav-item .nav-link {
  color: #ffffff !important;
  font-size: 14px;
}
header .top-header .ltnav .nav-item .nav-link:hover {
  text-decoration: underline;
}
@media (min-width: 320px) and (max-width: 575px) {
  header .top-header .ltnav .nav-item .nav-link {
    font-size: 13px;
    padding: 5px 8px;
  }
}
header .top-header .ltnav .nav-item .nav-link .icomoon {
  font-size: 17px;
}
header .top-header .nav-link {
  color: #ffffff;
  padding: 5px 10px;
}
header .top-header .nav-link:hover {
  text-decoration: underline;
}
header .navbar {
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
  background: #ffffff;
}
header .navbar .navbar-brand img {
  width: 250px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .navbar-brand img {
    width: 220px;
  }
}
header .navbar .nav-item .nav-link {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 12px;
}
@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .nav-item .nav-link {
    padding: 12px;
  }
}
header .navbar .nav-item .nav-link:hover {
  background: #0077b5;
  color: #ffffff !important;
}
header .navbar .active .nav-link {
  background: #0077b5;
  color: #ffffff !important;
}
header .navbar .dropdown-menu {
  right: 0;
  left: inherit;
  top: 34px;
  border: none;
  border-radius: 0;
  background: #ffffff;
  padding: 0;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
}
header .navbar .dropdown-menu .dropdown-item {
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  color: #0077b5;
}
@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .dropdown-menu .dropdown-item {
    border: none;
  }
}
header .navbar .dropdown-menu .dropdown-item:hover {
  background: #0077b5;
  color: #ffffff;
}
header .navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
header .navbar .cartlink {
  position: relative;
  width: 50px;
}
header .navbar .cartlink:hover {
  background: none !important;
}
header .navbar .cartlink:hover .icomoon {
  color: #000;
}
header .navbar .cartlink .icomoon {
  font-size: 23px;
}
header .navbar .cartlink .value {
  background: #0077b5;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 1px;
  line-height: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .cartlink .value {
    top: 2px;
  }
}

.fmediumsize {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel {
    padding-top: 100px;
  }
}
.homecarousel .carousel-indicators {
  display: none;
}
.homecarousel .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-item {
    height: auto;
  }
}
.homecarousel .carousel-item:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 0;
  top: 0;
  opacity: 1;
  width: 90%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-item:before {
    display: none;
  }
}
.homecarousel .carousel-item .carousel-caption {
  /** background: rgba(0, 0, 0, 0.4);**/
  bottom: inherit;
  top: 40%;
  right: inherit;
  text-align: left;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  left: 10%;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-item .carousel-caption {
    width: 100%;
    top: 45%;
    left: 0;
  }
}
.homecarousel .carousel-item .carousel-caption h1,
.homecarousel .carousel-item .carousel-caption h2 {
  font-size: 33px;
  color: #ffffff;
  background: #0077b5;
  padding: 10px;
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-item .carousel-caption h1,
  .homecarousel .carousel-item .carousel-caption h2 {
    background: #000;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    text-align: center;
  }
  .homecarousel .carousel-item .carousel-caption h1 span,
  .homecarousel .carousel-item .carousel-caption h2 span {
    display: inline !important;
  }
}
.homecarousel .carousel-item .carousel-caption p {
  color: #ffffff;
  font-size: 17px;
  line-height: 30px;
  background: #000;
  padding: 10px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-item .carousel-caption p {
    display: none;
  }
}
.homecarousel .carousel-control-prev,
.homecarousel .carousel-control-next {
  background: #000;
  width: 50px;
  height: 50px;
  top: 45%;
  line-height: 55px;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .carousel-control-prev,
  .homecarousel .carousel-control-next {
    width: 40px;
    height: 40px;
    top: 20%;
  }
}
.homecarousel .carousel-control-prev .icomoon,
.homecarousel .carousel-control-next .icomoon {
  font-size: 21px;
  color: #ffffff;
}
.homecarousel .course-form {
  width: 450px;
  position: absolute;
  top: 30%;
  right: 10%;
  border-radius: 10px;
}
.homecarousel .course-form .course-formin {
  padding: 15px;
  border: 1px solid #ffffff;
  margin: 15px;
  position: relative;
  z-index: 99;
  border-radius: 10px;
}
.homecarousel .course-form:before {
  content: "";
  background: #005582;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 0.6;
  border-radius: 15px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .course-form:before {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .homecarousel .course-form {
    width: 100%;
    position: relative;
    right: 0;
    padding: 20px 0;
    margin-top: 20px;
  }
}
.homecarousel .course-form h3 {
  color: #ffffff;
  font-size: 18px;
  padding: 0 0 10px 0;
  z-index: 99;
  position: relative;
}
.homecarousel .course-form input[type=submit] {
  background: #00a651;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  text-transform: uppercase;
  margin: 5px auto 0 auto;
  position: relative;
  z-index: 99;
  width: 100%;
  padding: 12px 0;
  letter-spacing: 5px;
  font-size: 18px;
  border-radius: 5px;
}
.homecarousel .course-form input[type=submit]:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #00a651;
}
.homecarousel .course-form form {
  z-index: 99;
  position: relative;
}
.homecarousel .course-form form .form-control {
  background: #ffffff;
  border: none;
  padding: 10px 0 10px 10px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
}
.homecarousel .course-form form .form-control:focus {
  box-shadow: none;
  outline: none;
}
.homecarousel .course-form form ::-moz-placeholder {
  font-size: 14px;
  color: #4d4d4d;
}
.homecarousel .course-form form ::placeholder {
  font-size: 14px;
  color: #4d4d4d;
}

.modal .modal-content {
  border-radius: 0;
  border: none;
  background: none;
}
.modal .modal-content .modal-header {
  background: none;
  color: #ffffff;
  border-radius: 0;
}
.modal .modal-content .modal-header .close {
  text-shadow: none;
  font-size: 30px;
  opacity: 1;
  color: #ffffff;
  top: 0;
  position: relative;
  left: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .modal .modal-content .modal-header .close {
    top: 10px;
    left: 20px;
  }
}
.modal .modal-content .modal-body {
  padding: 0;
}

.services-home {
  background: #f2fbff;
  padding: 50px 0 20px 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .services-home .service-col {
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8f8e8e;
  }
}
.services-home .service-col a {
  display: block;
  height: 90px;
}
.services-home .service-col a .icomoon {
  font-size: 45px;
  color: #ffffff;
  background: #0077b5;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.services-home .service-col a:hover .icomoon {
  background: #004569;
  color: #ffffff;
}
.services-home .service-col h4 {
  font-size: 20px;
}
.services-home .service-col p {
  padding-bottom: 0;
}

.table-section .table thead {
  background: #0077b5;
}
.table-section .table thead th {
  color: #ffffff;
  font-weight: normal;
}

tfoot tr td {
  color: #0077b5;
}

.sectionmedium {
  width: 98%;
  margin: 25px auto;
}

.why-choosesection {
  padding: 60px 0;
}
.why-choosesection .video-utube .whitebox {
  position: relative;
}
.why-choosesection .video-utube .whitebox .play-icon {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
  display: inline-block;
  line-height: 64px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  display: none;
}
.why-choosesection .video-utube .whitebox .play-icon:hover .icomoon {
  color: #ffffff;
}
.why-choosesection .video-utube .whitebox .play-icon .icomoon {
  font-size: 45px;
  color: red;
}
.why-choosesection .video-utube .whitebox:hover .play-icon {
  display: block;
}
@media (min-width: 320px) and (max-width: 575px) {
  .why-choosesection .video-utube video {
    height: auto;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .why-choosesection {
    padding: 15px 0;
  }
}
.why-choosesection h5 {
  font-size: 25px;
}
.why-choosesection h5 span {
  color: #0077b5;
}
.why-choosesection .whycol {
  margin-left: -1px;
  margin-top: -1px;
  padding: 15px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  border: 1px solid #cecece;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 575px) {
  .why-choosesection .whycol {
    text-align: center;
  }
}
.why-choosesection .whycol:hover {
  background: #0077b5;
  color: #ffffff;
}
.why-choosesection .whycol:hover h6 {
  color: #ffffff;
}
.why-choosesection .whycol h6 {
  font-size: 19px;
  color: #0077b5;
  padding: 5px 0;
}
.why-choosesection .whycol .icomoon {
  font-size: 45px;
}

.our-trackrecord {
  background: url(../img/trackrecord-bg.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  height: 250px;
  margin: 20px 0;
  position: relative;
}
@media (min-width: 320px) and (max-width: 575px) {
  .our-trackrecord {
    height: auto;
  }
}
.our-trackrecord:after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.92;
}
.our-trackrecord .leftTrackRecordColumn {
  position: relative;
  color: #ffffff;
}
.our-trackrecord .leftTrackRecordColumn article {
  z-index: 999;
  padding: 100px 50px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .our-trackrecord .leftTrackRecordColumn article {
    padding: 25px;
  }
}
.our-trackrecord .leftTrackRecordColumn article h2 {
  font-size: 30px;
}
.our-trackrecord .leftTrackRecordColumn:before {
  content: "";
  background: #0077b5;
  width: 750px;
  height: 250px;
  position: absolute;
  left: -200px;
  top: 0;
  bottom: 0;
  z-index: 99;
  transform: skew(-20deg);
}
@media (min-width: 320px) and (max-width: 575px) {
  .our-trackrecord .leftTrackRecordColumn:before {
    width: 100%;
    position: relative;
    transform: skew(0deg);
  }
}
.our-trackrecord .recordcolumn {
  position: relative;
  z-index: 999;
  padding-top: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .our-trackrecord .recordcolumn {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ffffff;
  }
}
.our-trackrecord .recordcolumn .icomoon {
  color: #ffffff;
  font-size: 70px;
}
.our-trackrecord .recordcolumn h2 {
  font-size: 60px;
  color: #ffffff;
  padding: 10px 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .our-trackrecord .recordcolumn h2 {
    font-size: 35px;
  }
}
.our-trackrecord .recordcolumn p {
  color: #ffffff;
}

.titlerow h3 {
  font-size: 32px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .titlerow h3 {
    font-size: 25px;
  }
}
.titlerow h3 span {
  color: #0077b5;
}

.custom-slick .slick-arrow {
  height: 1px;
  text-indent: -100000px;
  border: none;
  background: none;
  display: none;
}
.custom-slick .slick-arrow:focus {
  outline: none;
}
.custom-slick .slick-prev:before {
  content: "\f104";
  font-family: "icomoon" !important;
  top: 0;
  position: absolute;
  right: 52%;
  font-size: 20px;
  color: #000;
  background: none;
  border: none;
  width: 45px;
  text-align: center;
  height: 36px;
  line-height: 33px;
  text-indent: 0;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
@media (min-width: 320px) and (max-width: 575px) {
  .custom-slick .slick-prev:before {
    top: -7px;
    z-index: 99;
  }
}
.custom-slick .slick-prev:hover:before {
  content: "\f104";
  background: #0077b5;
  color: #ffffff;
  border: 1px solid #0077b5;
}
.custom-slick .slick-next:before {
  content: "\f105";
  font-family: "icomoon" !important;
  top: 0;
  position: absolute;
  right: 47%;
  font-size: 20px;
  color: #000;
  background: none;
  border: none;
  width: 45px;
  text-align: center;
  height: 36px;
  line-height: 33px;
  text-indent: 0;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
@media (min-width: 320px) and (max-width: 575px) {
  .custom-slick .slick-next:before {
    top: -7px;
    z-index: 99;
    right: 37%;
  }
}
.custom-slick .slick-next:hover:before {
  content: "\f105";
  background: #0077b5;
  color: #ffffff;
  border: 1px solid #0077b5;
}

.students-slick {
  padding-top: 30px;
}
.students-slick .slide {
  text-align: center;
  border: 1px solid #c2c1c1;
  margin: 0 10px;
  padding: 2px;
}
.students-slick .slide img {
  margin: 0 auto;
  width: 100%;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.students-slick .slide img:hover {
  filter: grayscale(100%);
  opacity: 0.7;
}
.students-slick .slide h4 {
  font-size: 18px;
  color: #000;
  padding: 8px 0;
  font-weight: 400;
}
@media (min-width: 320px) and (max-width: 575px) {
  .students-slick .slide h4 {
    font-size: 16px;
  }
}
.students-slick .slide h5 {
  font-size: 15px;
  color: #0077b5;
}

.success-stories {
  margin: 2% auto;
}

.home-testimonials {
  background: #f2fbff;
  padding: 30px 0;
}
.home-testimonials .titlerow {
  margin-bottom: 10px;
}
.home-testimonials .slide {
  padding: 0 50px;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 575px) {
  .home-testimonials .slide {
    padding: 0 20px;
  }
}
.home-testimonials .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid #ffffff;
}
.home-testimonials .slide h5 {
  font-size: 19px;
}
.home-testimonials .slide h6 {
  color: #0077b5;
  padding: 5px 0;
}
.home-testimonials .slide p {
  font-size: 15px;
  line-height: 27px;
  position: relative;
}
.home-testimonials .slide p:before {
  content: "\e904";
  font-family: "icomoon" !important;
  font-size: 30px;
  color: #8f8e8e;
  position: absolute;
  left: -20px;
  top: -23px;
  opacity: 0.5;
}

.apstore {
  background: url(../img/appbg.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 400px;
  position: relative;
  padding-top: 60px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .apstore {
    padding-top: 20px;
    min-height: 240px;
  }
}
.apstore:before {
  content: "";
  background: #0077b5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}
.apstore article {
  color: #ffffff;
}
.apstore article a {
  color: #ffffff;
  border: 1px solid #ffffff;
  float: left;
}
.apstore article a .icomoon {
  font-size: 45px;
  margin-right: 10px;
}
.apstore article a h4 {
  font-size: 19px;
}
.apstore article a p {
  margin-bottom: 0;
}
.apstore article h3 {
  font-size: 45px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .apstore article h3 {
    font-size: 30px;
  }
}

.major-companies {
  padding: 30px 0;
}
.major-companies .slider {
  margin: 0 5px;
}
.major-companies .slider img {
  border: 1px solid #c2c1c1;
  width: 100%;
}
.major-companies .slick-prev:before {
  display: none;
}
.major-companies .slick-next:before {
  display: none;
}

.top-tutorial {
  padding: 30px 0;
}

.course-col {
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  background: #ffffff;
  position: relative;
  margin-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .course-col {
    margin-bottom: 20px;
  }
}
.course-col .wish {
  top: 5px;
  right: 5px;
  background: #0077b5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.course-col .wish:hover {
  background: #ffffff;
}
.course-col .wish:hover .icomoon {
  color: #0077b5;
}
.course-col h3 {
  font-size: 21px;
}
.course-col p {
  color: #8f8e8e;
}
.course-col .h6 {
  font-size: 15px;
}
.course-col .h6 a {
  color: #0077b5;
}
.course-col .h5 {
  font-size: 18px;
}

.home-blogs {
  background: #ffffff;
  padding: 30px 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .home-blogs .blogcol {
    margin-bottom: 20px;
    padding: 5px;
    box-shadow: 0 0 4px #8f8e8e;
    -moz-box-shadow: 0 0 4px #8f8e8e;
    -webkit-box-shadow: 0 0 4px #8f8e8e;
    -ms-box-shadow: 0 0 4px #8f8e8e;
    -o-box-shadow: 0 0 4px #8f8e8e;
  }
}
.home-blogs .blogcol article {
  border-bottom: 1px solid #8f8e8e;
  margin-bottom: 10px;
}
.home-blogs .blogcol article h4 {
  font-size: 21px;
  padding: 10px 0;
}
.home-blogs .blogcol article p {
  color: #8f8e8e;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-body footer {
    padding-bottom: 43px;
  }
}

footer {
  background: #004569;
  min-height: 300px;
  position: relative;
  padding-top: 30px;
  color: #ffffff;
  font-size: 14px;
  padding-bottom: 0;
}
footer p {
  line-height: 27px;
}
footer .footer-brand {
  margin-bottom: 10px;
  display: block;
}
footer .footer-brand img {
  width: 215px;
}
footer a {
  color: #ffffff;
}
footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}
footer .social-nav {
  padding-top: 20px;
}
footer .social-nav .nav .nav-item .nav-link {
  border: 1px solid #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin: 0 5px;
  line-height: 30px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
footer .social-nav .nav .nav-item .nav-link:hover {
  background: #ffffff;
  color: #0077b5;
}
footer .social-nav .nav .nav-item .nav-link:hover .icomoon {
  color: #0077b5;
}
footer .social-nav .nav .nav-item .nav-link .icomoon {
  font-size: 20px;
  background: none;
  padding: 0;
}
footer .footer-title {
  font-size: 21px;
  color: #ffffff;
  position: relative;
  padding-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  footer .footer-title {
    padding-bottom: 0;
    margin-top: 25px;
  }
}
footer .footer-title:before {
  content: "";
  width: 30px;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: -5px;
}
footer .footer-nav li a {
  padding: 8px 0;
  display: block;
}
footer table tr td {
  padding: 6px;
  vertical-align: top;
}
footer table tr td .icomoon {
  font-size: 18px;
  background: #0077b5;
  padding: 6px;
  float: left;
  margin-top: 5px;
}
footer .bottom-footer {
  background: #0077b5;
  padding: 10px 0;
  position: relative;
  color: #ffffff;
}
footer .bottom-footer p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 12px;
}
footer .movetop {
  width: 45px;
  height: 45px;
  background: #ffffff;
  color: #0077b5;
  bottom: 45px;
  right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  position: fixed;
  border: 1px solid transparent;
  padding: 12px;
  display: none;
  z-index: 9999;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
}
footer .movetop:hover {
  background-color: #002336;
  color: #ffffff;
  text-decoration: none;
}
footer .movetop:hover .icomoon {
  color: #ffffff;
}
footer .movetop .icomoon {
  font-size: 21px;
  color: #0077b5;
}

.subpage {
  min-height: 500px;
  padding-top: 110px;
  padding-bottom: 50px;
}
.subpage .page-header {
  background: #00669c;
  padding: 30px 0;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 575px) {
  .subpage .page-header {
    padding: 10px 0;
  }
}
.subpage .page-header h1 {
  font-size: 30px;
  letter-spacing: -1px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .subpage .page-header h1 {
    font-size: 20px;
  }
}
.subpage .page-header p a {
  color: #ffffff;
}
.subpage .breadcrumb {
  background: none;
  padding-left: 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .subpage .breadcrumb {
    display: none;
  }
}
.subpage .breadcrumb ul li a {
  font-size: 15px;
  color: #000;
}
.subpage .breadcrumb .active a {
  color: #0077b5;
}
.subpage .subpage-body {
  min-height: 400px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 575px) {
  .subpage .subpage-body {
    padding-top: 10px;
  }
}
.subpage .subpage-body .padrow {
  padding: 10px 0;
}
.subpage .subpage-body .pageimg {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
}
.subpage .subpage-body p {
  font-size: 15px;
  text-align: justify;
  padding-bottom: 15px;
  line-height: 27px;
  margin-bottom: 0;
}
.subpage .subpage-body .sectionrow {
  padding: 20px 0;
}
.subpage .subpage-body .sectionrow .icomoon {
  padding: 25px;
  border-radius: 50%;
  border: 1px solid #8f8e8e;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  font-size: 45px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.subpage .subpage-body .sectionrow .icomoon:hover {
  background: #0077b5;
  color: #ffffff;
  border: 1px solid #0077b5;
}

.pagelink {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  margin-right: 10px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.pagelink:hover {
  background: #ffffff;
  color: #0077b5;
  border: 1px solid #0077b5;
}

.sign {
  height: 100vh;
}
.sign .signbrand {
  margin: 20px auto;
  text-align: center;
}
.sign .signbrand img {
  width: 200px;
}
.sign .leftcol {
  background: url(../img/signbluebg.png) no-repeat -150px center;
  background-color: #0077b5;
  height: 100vh;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 575px) {
  .sign .leftcol {
    height: auto;
    padding: 25px 15px;
  }
}
.sign .leftcol h1 {
  font-size: 35px;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 575px) {
  .sign .leftcol h1 {
    padding: 15px 0;
    font-size: 25px;
  }
}
.sign .leftcol p {
  padding-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .sign .leftcol p {
    display: none;
  }
}
.sign .leftcol .sign-list li {
  padding-bottom: 5px;
}
.sign .leftcol .sign-list li:before {
  content: "\f046";
  font-family: "icomoon";
  padding-right: 10px;
}
.sign .leftcol .statsrow {
  padding-bottom: 25px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 575px) {
  .sign .leftcol .statsrow {
    display: none;
  }
}
.sign .leftcol .statsrow:after {
  position: absolute;
  content: "";
  border: 5px solid #ffffff;
  width: 10px;
  height: 10px;
  top: 37%;
  right: 0;
  border-radius: 100%;
  background: #0077b5;
  padding: 5px;
}
.sign .leftcol .statsrow .user_stat {
  position: relative;
}
.sign .leftcol .statsrow .user_stat:before {
  position: absolute;
  content: "";
  width: 100%;
  z-index: 0;
  height: 5px;
  background: #ffffff;
  top: 35%;
  left: 0px;
}
.sign .leftcol .statsrow .user_stat:after {
  position: absolute;
  content: "";
  border: 5px solid #ffffff;
  width: 10px;
  height: 10px;
  top: 30%;
  left: -7%;
  border-radius: 100%;
  background: #0077b5;
  padding: 5px;
}
.sign .leftcol .statsrow .user_stat .statin figure {
  width: 90px;
  height: 90px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
}
.sign .leftcol .statsrow .user_stat .statin figure img {
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
}

.signcol {
  width: 400px;
  min-height: 350px;
  padding: 40px 20px;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 575px) {
  .signcol {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 5px;
}
.form-group label {
  margin-bottom: 5px;
  font-size: 12px;
}
.form-group .form-control {
  border-radius: 0;
  height: 40px;
  font-size: 15px;
}
.form-group .form-control:focus {
  box-shadow: none;
  outline: none;
}
.form-group ::-moz-placeholder {
  font-size: 15px;
  color: #8f8e8e;
}
.form-group ::placeholder {
  font-size: 15px;
  color: #8f8e8e;
}

.socialicons {
  margin: 30px 0 10px 0;
}
.socialicons a {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  width: 48%;
}
.socialicons a .icomoon {
  margin: 0 10px;
  font-size: 20px;
}
.socialicons .fb {
  background: #3b5998;
}
.socialicons .gplus {
  background: #dd4b39;
}

.secrow {
  padding: 20px 0;
}
.secrow .icomoon {
  font-size: 60px;
  color: #0077b5;
}

.thumbimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
}

.contact-form .form-control {
  height: 50px;
  border-radius: 0;
  font-size: 14px;
}
.contact-form .form-control:focus {
  box-shadow: none;
}
.contact-form ::-moz-placeholder {
  font-size: 14px;
}
.contact-form ::placeholder {
  font-size: 14px;
}

.table td {
  padding: 10px;
}
.table .h6 {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: -10px;
}
.table .icomoon {
  padding: 12px;
  font-size: 19px;
  color: #ffffff;
  background: #0077b5;
}

.blog-col {
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  margin-bottom: 20px;
  min-height: 415px;
  background: #ffffff;
}
.blog-col img {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.blog-col .h6 {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.blog-col:hover img {
  filter: grayscale(100%);
}
.blog-col:hover .h6 {
  margin-top: -5px;
}
.blog-col:hover .h6 a {
  color: #0077b5 !important;
}
.blog-col .nav li a {
  color: #8f8e8e;
  font-size: 13px;
}
.blog-col article {
  padding: 15px;
}
.blog-col article p {
  line-height: 22px !important;
  padding-top: 10px;
}

.recentblog {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}
.recentblog img {
  width: 100px;
}
.recentblog .h6 {
  padding-left: 10px;
  font-size: 15px;
}
.recentblog .h6 span {
  font-size: 13px;
  display: block;
  padding-top: 10px;
}

.career-block {
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  padding: 15px;
  min-height: 200px;
  background: #ffffff;
}
.career-block .form-group .form-control {
  font-size: 13px;
  border-radius: 0;
  height: 40px;
}
.career-block .form-group ::-moz-placeholder {
  font-size: 13px;
  color: #8f8e8e;
}
.career-block .form-group ::placeholder {
  font-size: 13px;
  color: #8f8e8e;
}

.small {
  font-size: 12px !important;
  line-height: 18px !important;
}

.simpletabs .resp-tabs-list {
  border-bottom: 1px solid #8f8e8e;
}
.simpletabs .resp-tabs-list li {
  background: none !important;
}
.simpletabs .resp-tabs-list .resp-tab-active {
  border-bottom: 3px solid #0077b5 !important;
}

.custom-accord h1 {
  border-bottom: 1px solid #ececec;
  font-weight: 300;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
}
.custom-accord h1 span {
  display: block;
  font-size: 0.5em;
}
.custom-accord a {
  color: #607d8b;
  text-decoration: none;
}
.custom-accord a:hover,
.custom-accord a:focus {
  color: #ec407a;
  border-bottom: none;
}
.custom-accord h3 {
  font-weight: 500;
  font-size: 20px;
}
.custom-accord .intro {
  font-size: 1.25em;
}
.custom-accord .js .panel-title {
  margin: 0;
}
.custom-accord .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  transition: color 200ms ease 0s;
  width: 100%;
  font-size: 17px;
}
.custom-accord .panel-title a .icon {
  color: #000;
  position: absolute;
  right: 0;
  transition: all 200ms ease 0s;
  font-size: 23px;
}
.custom-accord .panel-title a:hover,
.custom-accord .panel-title a:focus {
  color: #37474f;
}
.custom-accord .panel-title a:hover .icon,
.custom-accord .panel-title a:focus .icon {
  color: #ec407a;
}
.custom-accord .panel-title a.active {
  color: #37474f;
}
.custom-accord .panel-title a.active .icon {
  color: #ec407a;
  transform: rotate(45deg);
}
.custom-accord .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}
.custom-accord .accordion .panel-title a {
  border-top: 1px solid #ececec;
}
.custom-accord [id^=panel-] {
  padding-bottom: 2em;
}

.list-content {
  padding-left: 15px;
}
.list-content li {
  list-style-type: disc;
  list-style-position: inside;
  padding-bottom: 15px;
  line-height: 24px;
}

.bgsec {
  background: url(../img/bg-section.jpg) no-repeat 0 0;
  width: 100%;
  background-size: cover;
  padding: 50px 0;
  position: relative;
}
.bgsec:before {
  background: #0077b5;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}
.bgsec .container {
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.page-list li {
  padding: 5px 0;
}
.page-list li:before {
  content: "\f00c";
  color: #0077b5;
  font-family: "icomoon" !important;
  padding: 0 10px 0 0;
}

.orderlist li {
  list-style: inherit;
  padding: 5px 0;
}

.course-accordion .panel-content {
  background: #ffffff;
  padding: 15px;
  margin-top: -8px;
}
.course-accordion .panel-title {
  background: #ffffff;
  padding: 10px;
  margin-top: 5px;
}
.course-accordion .panel-title:hover {
  background: #ffffff;
}
.course-accordion .panel-title:hover a {
  color: #0077b5;
}
.course-accordion .panel-title:hover a span {
  color: #0077b5;
}
.course-accordion .panel-title a {
  border: none !important;
}
.course-accordion .panel-title .active {
  color: #0077b5 !important;
}
.course-accordion .list-seperator li a {
  border: none;
}

.course-faq .panel-title {
  font-weight: normal;
}
.course-faq .panel-title a {
  font-size: 15px;
  line-height: 25px;
}
.course-faq .panel-title .active {
  color: #0077b5 !important;
}

.oldprice {
  color: #8f8e8e;
  text-decoration: line-through;
  font-size: 13px;
  padding: 0 5px;
}

.course-detail-header p {
  font-size: 17px;
}
.course-detail-header .list-seperator {
  border-top: 1px solid #ffffff;
  padding-top: 15px;
}
.course-detail-header .list-seperator .nav-item a {
  color: #ffffff !important;
}

.list-box ul li {
  padding-bottom: 15px;
  font-size: 14px;
}
.list-box ul li:before {
  content: "\f00c";
  font-family: "icomoon";
  color: #0077b5;
  padding-right: 10px;
}

.whitebox {
  padding: 5px;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  background: #ffffff;
  overflow: hidden;
}

.bluebox {
  background: #0077b5;
  padding: 15px;
  color: #ffffff;
}
.bluebox p {
  font-size: 13px !important;
  line-height: 16px;
}

.detailprice span {
  font-size: 15px;
  color: #8f8e8e;
}

.subscribebox input[type=text] {
  background: #ffffff;
  height: 35px;
  border: none;
  padding-left: 10px;
  width: 73%;
}
.subscribebox input[type=submit] {
  background: #005582;
  height: 35px;
  border: none;
  text-align: center;
  width: 25%;
  color: #ffffff;
}

.addtowish {
  top: 5px;
  right: 5px;
  padding: 10px;
}
.addtowish:hover {
  background: #0077b5;
}
.addtowish:hover .icomoon {
  color: #ffffff;
}
.addtowish .icomoon {
  font-size: 20px;
}

.select-wish {
  background: #0077b5;
}
.select-wish .icomoon {
  color: #ffffff;
}

.leftnav-tutorial .h6 {
  background: #0077b5;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 10px 12px 10px;
  margin-bottom: 20px;
}
.leftnav-tutorial #videos-show-icon {
  display: none !important;
}
@media (min-width: 320px) and (max-width: 575px) {
  .leftnav-tutorial #videos-show-icon {
    display: block !important;
  }
}
.leftnav-tutorial .nav-link[data-toggle].collapsed:after {
  content: "+";
  float: right;
  font-size: 25px;
}
.leftnav-tutorial .nav-link[data-toggle]:not(.collapsed):after {
  content: "-";
  float: right;
  font-size: 25px;
}
.leftnav-tutorial .nav-item .nav-link {
  position: relative;
  padding-left: 25px;
}
.leftnav-tutorial .nav-item .nav-link:before {
  content: "\f01d";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 9px;
  left: 0;
  font-family: "icomoon" !important;
}
.leftnav-tutorial .nav-item .nav-link:hover {
  color: #0077b5;
}
.leftnav-tutorial .nav-item .nav-link:hover:before {
  color: #0077b5;
}
.leftnav-tutorial .nav-item .flex-column {
  padding: 10px 0;
}
.leftnav-tutorial .nav-item .flex-column .nav-item {
  padding: 7px 10px;
}
.leftnav-tutorial .nav-item .flex-column .nav-item .nav-link:before {
  content: "";
  display: none;
}
.leftnav-tutorial .leftnav {
  position: relative;
}
@media (min-width: 320px) and (max-width: 575px) {
  .leftnav-tutorial .leftnav {
    display: none;
  }
}

.right-videos .right-title {
  background: #0077b5;
  color: #ffffff;
  padding: 10px 10px 12px 10px;
  margin-bottom: 20px;
}
.right-videos .right-title .h6 {
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .right-videos .right-title {
    background: none;
    color: #0077b5;
    padding: 0;
    margin-bottom: 10px;
  }
}
.right-videos .video-col {
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
}
.right-videos .video-col:hover .icomoon {
  opacity: 1;
}
.right-videos .video-col img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.right-videos .video-col .icomoon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  margin-top: -10px;
  margin-left: -10px;
  color: red;
  opacity: 0;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.video-modal .modal-body {
  padding: 0;
}
.video-modal .modal-body .modalvideo {
  height: 400px;
}
.video-modal .close span {
  font-size: 45px;
}

.left-usernav {
  height: 100vh;
}
.left-usernav .profile-pic {
  text-align: center;
  margin: 0 auto;
}
.left-usernav .profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.left-usernav ul li a {
  font-size: 15px;
  padding: 10px 25px;
  display: block;
}
.left-usernav ul li a:hover {
  background: #0077b5;
  color: #ffffff;
}
.left-usernav ul .usernav-active {
  background: #0077b5;
  color: #ffffff;
}

.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  left: 25%;
}
.upload-btn-wrapper .whitebtn {
  background: #0077b5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.upload-btn-wrapper .whitebtn .icomoon {
  color: #ffffff;
  font-size: 16px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.right-usersection .user-right-title {
  padding: 0;
  border-bottom: 1px dashed #8f8e8e;
  margin-bottom: 15px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .right-usersection .user-right-title {
    padding-top: 20px;
  }
}
.right-usersection .user-right-title p small {
  color: #8f8e8e;
}
.right-usersection .user-rightsection {
  padding-top: 15px;
}
.right-usersection .user-rightsection .form-group .form-control {
  height: 42px;
  border-radius: 0;
  line-height: 40px;
  padding-bottom: 12px;
  font-size: 14px;
}
.right-usersection .user-rightsection .form-group .form-control:focus {
  box-shadow: none;
}
.right-usersection .user-rightsection ::-moz-placeholder {
  font-size: 14px;
  color: #8f8e8e;
}
.right-usersection .user-rightsection ::placeholder {
  font-size: 14px;
  color: #8f8e8e;
}
.right-usersection .noterow img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}
.right-usersection .purchase-history td {
  vertical-align: middle;
}
.right-usersection .purchase-history .thumb-course {
  width: 75px;
}

.student-col {
  min-height: 200px;
  padding: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .student-col {
    flex-direction: column;
  }
}
.student-col figure img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
}
.student-col article {
  width: 75%;
  padding: 25px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .student-col article {
    width: 100%;
    padding: 0;
  }
}
.student-col article .h5 {
  font-size: 18px;
}
.student-col article .quote-student {
  text-align: left;
}
.student-col article .quote-student:before {
  content: "\f10d";
  font-family: "icomoon" !important;
  font-size: 20px;
  color: #0077b5;
  padding: 5px;
}
.student-col .linktext {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.student-col .video-testimonil-link {
  background: #ffffff;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  line-height: 50px;
  animation: icon-scaleout 1.5s infinite ease-in;
}
.student-col .video-testimonil-link a {
  width: 49px;
  height: 49px;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.student-col .video-testimonil-link a:hover {
  background: red;
}
.student-col .video-testimonil-link a:hover .icomoon {
  color: #ffffff;
}
.student-col .video-testimonil-link:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -17px;
  left: -17px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  opacity: 0.9;
  background: #cccccc;
  animation: icon-scaleout 1.5s infinite ease-in;
}
.student-col .video-testimonil-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: -7px;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  opacity: 0.6;
  background: #a6a6a6;
  animation: icon-scaleout 1.5s infinite ease-in;
}
.student-col .video-testimonil-link .icomoon {
  font-size: 20px;
  color: red;
  padding-left: 5px;
}

@keyframes icon-scaleout {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.form-control {
  height: 42px;
  border-radius: 0;
  line-height: 40px;
  padding-bottom: 12px;
  font-size: 14px;
}
.form-control:focus {
  box-shadow: none;
}

.course-row {
  padding: 10px 0;
  border-bottom: 1px dashed #8f8e8e;
}

.successpayment .icomoon {
  font-size: 60px;
  color: #0077b5;
}
.successpayment p {
  text-align: center;
}

.question-intro {
  margin: 25px 0;
}

.qanda-page .navbar-collapse {
  border: 1px solid #8f8e8e;
}
@media (min-width: 320px) and (max-width: 575px) {
  .qanda-page .navbar-toggler {
    margin-bottom: 15px;
  }
}
.qanda-page .navbar .nav-item .nav-link {
  color: #000 !important;
  padding: 10px 15px;
}
.qanda-page .navbar .nav-item .nav-link:hover {
  background: #0077b5;
  color: #ffffff !important;
  border-radius: 20px;
}
.qanda-page .navbar .nav-item .active {
  background: #0077b5;
  color: #ffffff !important;
  border-radius: 20px;
}
.qanda-page .col-qa {
  min-height: 100px;
  margin: 15px 0;
}
.qanda-page .col-qa .problem {
  border: 1px solid #8f8e8e;
  position: relative;
}
.qanda-page .col-qa .problem .question {
  padding: 30px;
  border-bottom: 1px solid #8f8e8e;
}
.qanda-page .col-qa .problem .options {
  overflow: hidden;
  padding-bottom: 12px;
}
.qanda-page .col-qa .problem .options .nav {
  padding: 10px 10px 0 10px;
}
.qanda-page .col-qa .problem .options li {
  font-size: 16px;
  width: 46%;
  margin-bottom: 10px;
  border: 1px solid #eee;
  margin-right: 10px;
}
.qanda-page .col-qa .problem .options li span {
  border: 1px solid #eee;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  padding: 8px 12px;
}
.qanda-page .col-qa .problem .options a {
  opacity: 1;
}
.qanda-page .col-qa .problem .options a:hover {
  color: #002336;
}
.qanda-page .col-qa .problem .view-answer {
  padding: 15px 30px;
}
.qanda-page .col-qa .problem .view-answer a {
  color: #0077b5 !important;
}
.qanda-page .col-qa .problem .answer {
  background: #ffffff;
  padding: 0;
  float: left;
  margin-top: 15px;
}
.qanda-page .col-qa .problem .answer .answer-heading {
  background: #0077b5;
  color: #ffffff;
  padding: 15px 25px;
}
.qanda-page .col-qa .problem .answer .answer-heading .anser-value {
  width: 25px;
  height: 25px;
  color: #0077b5;
  background: #ffffff;
  line-height: 21px;
  border-radius: 50%;
}
.qanda-page .col-qa .problem .answer .describe {
  padding: 0 30px;
}
.qanda-page .col-qa .problem .answer .describe p {
  font-size: 14px;
}
.qanda-page .text-series-row {
  margin-top: 25px;
}
.qanda-page .text-series-row .testseries-col {
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  margin-bottom: 25px;
  text-align: center;
  padding: 0 0 10px 0;
  background: #ffffff;
}
.qanda-page .text-series-row .testseries-col figure {
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
}
.qanda-page .text-series-row .testseries-col figure img {
  width: auto;
  height: 65px;
}
.qanda-page .text-series-row .testseries-col figure .bluebtn {
  box-shadow: none !important;
}
.qanda-page .text-series-row .testseries-col article {
  padding: 20px;
}
.qanda-page .text-series-row .testseries-col article .h5 {
  padding-bottom: 15px;
  font-size: 18px;
}
.qanda-page .text-series-row .testseries-col article .list-seperator {
  justify-content: center;
}
.qanda-page .practisetests .custom-accord .table td a {
  border: none !important;
}
.qanda-page .practisetests .custom-accord .table td a:hover {
  color: #000;
}

.package-col {
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  min-height: 150px;
  margin: 50px 0;
}
.package-col .heading-div {
  background: url(../img/packagebg.jpg) no-repeat 0 0;
  min-height: 250px;
  width: 100%;
  background-size: cover;
  padding: 25px;
}
.package-col .heading-div article {
  padding: 65px 0;
}
.package-col .heading-div article h5 {
  font-size: 19px;
  padding: 10px 0;
}
.package-col .package-features {
  padding: 25px;
}
.package-col .package-features ul li {
  font-size: 15px;
  padding: 10px;
}
.package-col .package-features ul li:nth-of-type(odd) {
  background: #e8f7ff;
}
.package-col .package-features ul li:before {
  content: "\f046";
  font-family: "icomoon" !important;
  color: #0077b5;
  padding-right: 5px;
  font-size: 18px;
}

.pie {
  width: 250px;
  background: #004569;
  border-radius: 50%;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
}

.pie circle {
  fill: none;
  stroke: #0077b5;
  stroke-width: 32;
  animation: rotate 1.5s ease-in;
}

.pie-block {
  width: 50%;
}
.pie-block .color-block {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
.pie-block .balance-courses {
  background: #0077b5;
}
.pie-block .completed-courses {
  background: #004569;
}

.scrore-scale {
  margin-bottom: 15px;
}
.scrore-scale p {
  padding-bottom: 5px !important;
}
.scrore-scale p span {
  font-size: 16px;
}
.scrore-scale .scale {
  background: #0077b5;
  height: 30px;
  position: relative;
}
.scrore-scale .scale .scale-in {
  height: 30px;
  background: #004569;
}

.trophy-img {
  width: 200px;
  margin: 0 auto;
}

.solution {
  border-bottom: 1px dashed #8f8e8e;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.solution .quest span {
  margin-right: 10px;
}
.solution .nav .nav-item {
  padding-right: 10px;
  display: block;
  margin-bottom: 12px;
  width: 33.3%;
}
.solution .nav .nav-item span {
  margin-right: 5px;
}
.solution .nav .nav-item .correct-ans {
  background: #00a651;
  color: #ffffff;
}
.solution .nav .nav-item .wrong-ans {
  background: red;
  color: #ffffff;
}
.solution .nav .nav-item small {
  color: #ffffff;
  font-size: 11px;
  background: #00a651;
  padding: 2px 5px;
  margin-left: 10px;
}

.primary-details-practise-test .list-group-item a {
  display: block;
}
.primary-details-practise-test .list-group-item:hover {
  background: #0077b5;
  color: #ffffff;
}
.primary-details-practise-test .list-group-item:hover a {
  color: #ffffff;
}

.active-answer {
  background: #0077b5;
  color: #ffffff;
}
.active-answer a {
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .m-text-center {
    text-align: center;
  }
  .m-text-center p {
    text-align: center !important;
  }
  .m-py-10 {
    padding: 10px 0;
  }
  .h2,
  h2 {
    font-size: 1.5em;
  }
  .navbar-collapse {
    position: absolute;
    top: 54px;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow-y: auto;
    height: 600px;
    transition: all 0.3s ease;
    display: block;
    background: #ffffff;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
  }
  .navbar-collapse.show {
    right: 0;
  }
}
.modal-confirm {
  color: #636363;
  width: 325px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .modal-confirm {
    width: 95%;
  }
}

.modal-confirm .modal-content {
  padding: 0px;
  border-radius: 5px;
  border: none;
  background: #ffffff;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 20px auto 0px auto;
  color: #0077b5;
}

.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-confirm .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 125px;
  height: 95px;
  z-index: 9;
  padding: 15px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 575px) {
  .modal-confirm .icon-box {
    top: -85px;
  }
}
.modal-confirm .icon-box img {
  width: 100%;
}
.modal-confirm .icon-box .icomoon {
  font-size: 60px;
}

.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}

.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.call-mobile {
  background: #ffffff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
}
.call-mobile a {
  color: #0077b5;
  font-size: 18px;
  text-transform: uppercase;
}
.call-mobile a:hover {
  color: #0077b5;
  text-decoration: none;
}
.call-mobile a:focus {
  color: #0077b5;
  text-decoration: none;
}
.call-mobile a .icomoon {
  padding: 0 10px;
  font-size: 22px;
}

#enrollbtn {
  border: 1px solid #ffffff;
  padding: 15px 25px !important;
  border-radius: 40px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
#enrollbtn:hover {
  background: #004569;
}

.enrollnow {
  background: #0077b5;
  padding: 75px 0;
}
.enrollnow p {
  color: #ffffff;
  font-size: 19px;
  line-height: 30px;
  padding-bottom: 20px;
}

.contacttable td {
  vertical-align: top;
}

.interested-course {
  position: relative;
}
.interested-course:before {
  content: "";
  width: 34px;
  height: 57px;
  background: url(../img/arrow-fooer.png) no-repeat 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.lefttab .resp-tabs-list li {
  font-size: 15px;
  padding: 15px !important;
  background: #e8e8e8;
  width: 100%;
  margin-bottom: 5px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.lefttab .resp-tabs-list li:hover {
  background: #0077b5;
  color: #ffffff;
}
.lefttab .resp-tabs-list .selectnav {
  background: #0077b5;
  color: #ffffff;
}
@media (min-width: 320px) and (max-width: 575px) {
  .lefttab .custom-accord .h5 {
    display: none;
  }
  .lefttab .resp-tab-content {
    padding: 15px !important;
  }
  .lefttab h2.resp-accordion {
    font-size: 15px !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .lefttab .custom-accord .h5 {
    display: none;
  }
  .lefttab .resp-tab-content {
    padding: 15px !important;
  }
  .lefttab h2.resp-accordion {
    font-size: 15px !important;
  }
}

.test-list-col {
  border: 1px solid #cecece;
  height: 200px;
  margin-bottom: 15px;
  padding: 10px;
}
.test-list-col img {
  margin: 10px 0;
}
.test-list-col .h6 {
  font-size: 15px;
}
.test-list-col p {
  text-align: center !important;
  padding-bottom: 15px !important;
}
.test-list-col .whitebtn {
  display: inline-block;
  padding: 5px 10px 7px 7px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  font-size: 13px;
}

.custom-modalbody {
  background: #ffffff;
  padding: 25px !important;
}

.schedulebody {
  background: url(../img/weeklybg01.png) no-repeat center right;
  position: relative;
}
.schedulebody:before {
  content: "";
  background: url(../img/weekleft.png) no-repeat 0 0;
  width: 382px;
  height: 228px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .schedulebody:before {
    display: none;
  }
}
.schedulebody:after {
  content: "";
  background: url(../img/weekrt.png) no-repeat 0 0;
  width: 354px;
  height: 196px;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 320px) and (max-width: 575px) {
  .schedulebody:after {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .schedulebody:after {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 575px) {
  .schedulebody .weeklycal {
    width: 150px;
    margin: 0 auto;
  }
}

.parentVerticalTab .resp-tabs-list {
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.parentVerticalTab .resp-tabs-list li {
  font-size: 16px;
}

.categoriesPage .resp-tabs-list li {
  text-align: right !important;
  font-size: 18px;
  padding: 16px 12px;
}
.categoriesPage .resp-tabs-list li:hover {
  background: #0077b5 !important;
  color: #ffffff;
}
.categoriesPage .nav {
  width: 20%;
  box-shadow: 0 0 4px #8f8e8e;
  -moz-box-shadow: 0 0 4px #8f8e8e;
  -webkit-box-shadow: 0 0 4px #8f8e8e;
  -ms-box-shadow: 0 0 4px #8f8e8e;
  -o-box-shadow: 0 0 4px #8f8e8e;
  min-height: 500px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .categoriesPage .nav {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .categoriesPage .nav {
    width: 35%;
  }
}
.categoriesPage .nav .nav-link {
  font-size: 17px;
  padding: 20px 15px;
  border-bottom: 1px solid #c1c1c1;
}
@media (min-width: 320px) and (max-width: 575px) {
  .categoriesPage .nav .nav-link {
    font-size: 14px;
    padding: 10px 5px;
    text-align: right;
  }
}
.categoriesPage .tab-content {
  width: 75%;
  padding-left: 25px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .categoriesPage .tab-content {
    width: 65%;
  }
}
.categoriesPage .colcatPage a {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: block;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  border-radius: 5px;
  margin-bottom: 15px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .categoriesPage .colcatPage a {
    padding: 5px;
  }
}
.categoriesPage .colcatPage a h6 {
  font-size: 17px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .categoriesPage .colcatPage a h6 {
    font-size: 14px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.categoriesPage .colcatPage a p {
  font-size: 14px;
  text-align: center;
  padding-bottom: 0;
  line-height: 23px;
  display: none;
}

.topicsBanner {
  min-height: 215px;
  background: #efa510;
  padding: 25px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .topicsBanner {
    text-align: center;
  }
}
.topicsBanner h2 {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: -2px;
  text-align: left !important;
}
@media (min-width: 320px) and (max-width: 575px) {
  .topicsBanner h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
  }
}
.topicsBanner p span {
  background: #000;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 50px;
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 575px) {
  .topicsBanner p {
    text-align: center !important;
  }
}

.qst {
  overflow: hidden;
  border: 1px solid #e1e1e1;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.qst h5 {
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.qst .form-check {
  padding: 10px 10px 10px 30px;
  border: 1px solid #e1e1e1;
}
.qst h6 {
  line-height: 26px;
  font-size: 15px;
  padding: 10px 20px;
  margin: 0;
}
.qst .options {
  padding: 20px;
  font-size: 15px;
  color: #000;
}
.qst .options .custom-control {
  padding: 15px 10px 15px 30px;
  border: 1px solid #e1e1e1;
  margin-top: -1px;
}
.qst .options .alpha {
  padding: 0 5px;
}
.qst .textans {
  padding-left: 20px;
  display: inline-block;
}

.pagination li a.page-link:hover {
  background: #0077b5 !important;
  color: #ffffff !important;
}

body.montPage {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.relatedTopics li:last-child a {
  border-bottom: none;
}
.relatedTopics li a {
  display: block;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  position: relative;
  text-align: left;
  padding-left: 12px;
  border-bottom: 1px dashed #a6a6a6;
}
.relatedTopics li a:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 0;
}
.relatedTopics li a:hover {
  color: #0077b5;
}

.social-share {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 575px) {
  .social-share .span-share {
    width: 100%;
  }
}
.social-share .sharesocial {
  width: 27px;
  height: 27px;
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.social-share .sharesocial .icomoon {
  font-size: 36px;
}
.social-share .sharesocial:hover {
  opacity: 0.6;
}
.social-share .icon-facebook-square {
  color: #3b5998;
}
.social-share .icon-twitter-square {
  color: #03a9f4;
}
.social-share .icon-linkedin-square {
  color: #0077b5;
}
.social-share .icon-instagram {
  color: #c13584;
}
.social-share .icon-whatsapp {
  color: #4ac959;
}
.social-share .icon-pinterest-square {
  color: #bd081c;
}

.resourcesAcademic {
  background: #efefef;
  padding: 25px 0;
}
.resourcesAcademic .newAcademic li:last-child a {
  border-bottom: none;
}
.resourcesAcademic .newAcademic li a {
  border-bottom: 1px dashed #e1e1e1;
  display: block;
  padding: 20px 0 10px 20px;
  position: relative;
}
.resourcesAcademic .newAcademic li a:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 29px;
  left: 0;
}
.resourcesAcademic .acaMicCol {
  padding: 25px;
}
.resourcesAcademic .acaMicCol .iconDiv {
  width: 85px;
  height: 85px;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  background: #ffffff;
  box-shadow: 0 2px 4px #8f8e8e;
  -moz-box-shadow: 0 2px 4px #8f8e8e;
  -webkit-box-shadow: 0 2px 4px #8f8e8e;
  -ms-box-shadow: 0 2px 4px #8f8e8e;
  -o-box-shadow: 0 2px 4px #8f8e8e;
  border-radius: 50%;
  line-height: 105px;
  margin: 0 auto;
}
.resourcesAcademic .acaMicCol .iconDiv:hover {
  background: #0077b5;
}
.resourcesAcademic .acaMicCol .iconDiv:hover .icomoon {
  color: #ffffff;
}
.resourcesAcademic .acaMicCol .icomoon {
  font-size: 45px;
  color: #0077b5;
}
.resourcesAcademic .acaMicCol h5 {
  padding: 10px 0;
  margin: 0;
  font-size: 20px;
}

.campus-connect .top-banner {
  background: linear-gradient(249deg, #ffe3e3 6.44%, #b8b4e5 100.09%);
  min-height: 50vh;
}
.campus-connect .top-banner h1 {
  font-size: clamp(1.2rem, 3vw, 3rem);
}
.campus-connect .partnerwithus {
  padding: 4rem 0;
  background: url(../img/partnersbg.jpg) no-repeat 0 0;
  background-size: cover;
}
.campus-connect .partnerwithus .highlet-col h2 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.campus-connect .success-stories .slide .companylogo img {
  width: 100px;
}

.trusted-institutes {
  padding: 4rem 0;
}
.trusted-institutes .trusted-logo {
  align-self: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-bottom: 25px;
}
.trusted-institutes .trusted-logo img {
  width: 100%;
}

.programs-gallery {
  padding: 4rem 0;
}
.programs-gallery .marimg img {
  margin: 0 5px;
}
.programs-gallery marquee {
  white-space: nowrap;
}

.marquee {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: white;
  white-space: nowrap;
}

.marquee--inner {
  display: block;
  position: absolute;
  animation: marquee 25s linear infinite;
}
.marquee--inner:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.partnerwithus-videos {
  padding: 4rem 0;
  background: linear-gradient(249deg, #fad9de 6.44%, #ffffff 100.09%);
}

.custom-dialog {
  background: #fff;
  position: fixed;
  margin: auto;
  width: 50%;
  height: 100%;
  right: 0px;
}
.custom-dialog .modal-content {
  height: 100%;
}
.custom-dialog .modal-content .modal-title {
  color: black;
}

.founderVideo {
  padding: 3rem 0;
  background: url(../img/facultybg.jpg) no-repeat 0 0;
}
.founderVideo .facultysec {
  padding: 2rem 0;
}

.platform {
  padding: 3rem 0;
}

.gifs {
  padding: 3rem 0;
}

.giftab {
  padding: 3rem 0;
}

.tab-custom .nav-link {
  background: none;
  border-left: 1px solid #ccc;
  text-align: left;
  background: none;
  color: #333;
  border-radius: 0;
}
.tab-custom .nav-link h4,
.tab-custom .nav-link p {
  color: #333;
}
.tab-custom .nav-link.active {
  background: none;
  border-left: 1px solid #000;
  color: #333;
}
.tab-custom .nav-link.active:focus {
  box-shadow: none;
}
.tab-custom .nav-link.active h4,
.tab-custom .nav-link.active p {
  color: #333;
}

.upskillingcourses {
  padding: 3rem 0;
}
.upskillingcourses .iconwhy {
  width: 50px;
  height: 50px;
  background: #cfeeff;
  text-align: center;
  line-height: 58px;
  border-radius: 50px;
}
.upskillingcourses .iconwhy .icomoon {
  font-size: 25px;
  color: #000;
}

.advantages {
  background: linear-gradient(to right, #2b5876, #4e4376);
  padding: 4rem 0;
  color: #ffffff;
}
.advantages .table {
  width: 100%;
  color: #ffffff;
}
.advantages .table tbody {
  background: #ffffff;
}
.advantages .table tbody td {
  color: #000;
  padding: 25px;
}

.othersprogress {
  width: 100%;
  background-color: #f3f3f3;
  /* Add animation (webkit only - other browsers wait for final spec) */
}
.othersprogress .progress-bar2 {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}
.othersprogress .progress-bar2 {
  animation: progress2 2s ease-out forwards;
}
@keyframes progress2 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar {
  width: 0;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}

/* Add animation (webkit only - other browsers wait for final spec) */
.progress-bar {
  animation: progress 2s ease-out forwards;
}
@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.footer-campus h2 {
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */